.section.on {
    transition: 0.5s;
}

* {
    outline: 1px solid tomato--;
}





/* 헤더 */
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background: #fff;
    border-bottom: 1px solid #ddd;
}

.Header .header_wrap {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .header_wrap h1 img {
    height: 50px;
}

.Header .header_wrap .top_nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Header .header_wrap .top_nav>li {
    position: relative;
}

.Header .header_wrap .top_nav>li:hover .sub_nav {
    opacity: 1;
    visibility: visible;
}

.Header .header_wrap .top_nav>li a {
    display: block;
    font-size: 16px;
    line-height: 22px;
}

.Header .header_wrap .sub_nav {
    position: absolute;
    top: 60px;
    width: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 10px;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.Header .header_wrap .sub_nav>li {
    padding: 8px 0;
    text-align: center;
}

.Header .header_wrap .sub_nav>li a {
    display: block;
    font-size: 14px;
}



/* 메인비주얼 슬라이드 */
.main {
    position: relative;
}

.main .main_slide .itm01 {
    height: 100vh;
    background: url(../images/main_bg_01.jpg) no-repeat center center/cover;
}


.main .main_slide .itm02 {
    height: 100vh;
    background: url(../images/main_bg_02.jpg) no-repeat center center/cover;
}


.main .main_slide .itm03 {
    height: 100vh;
    background: url(../images/main_bg_03.jpg) no-repeat bottom center/cover;
}

.main .main_slide .slogan {
    color: #fff;
    position: absolute;
    top: 50%;
    margin: 0 0 0 240px;
    text-shadow: 0 0 3px #000;

}

.main .main_slide .slogan h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.main .main_slide .slogan p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 0 20px 0;
}

.main .main_slide .slogan a {
    font-size: 15px;
    font-weight: 300;
    border: 1px solid #fff;
    padding: 5px 40px;
}

.main .arrow_box {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.6);
    border-radius: 56px;
    width: 200px;
    height: 50px;
}

.main .arrow_box .arrows i {
    color: #fff;
    margin: 0 auto;
    padding: 17px;
    cursor: pointer;
}

.main .arrows .left {
    position: absolute;
    left: 0;
    top: 0;
}

.main .arrows .right {
    position: absolute;
    right: 0;
    top: 0;
}

.main .arrow_box .slide_num {
    color: #fff;
    text-align: center;
    padding: 17px;
}

.main .arrow_box .slide_num span,
.main .arrow_box .slide_num strong {
    color: #fff;
}

/*  제품 탭&슬라이드*/
.sub01 {
    background: #f9f9f9 center center/cover;
}

.sub01 .slider {
    margin: 0 -9px;
}

.sub01 .item {
    margin: 0 9px;
}

.sub01 .tab {
    display: none;
}

.sub01 .tab.active {
    display: block;
}

.sub01 .title {
    text-align: center;
}

.sub01 .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 48px 0;
    position: relative;
}

.sub01 .title h2::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40px);
    width: 50px;
    height: 2px;
    background: #000;
}

.sub01 .buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sub01 .buttons button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

    font-size: 15px;
    color: #666;

    margin: 0 0 40px 0;
}

.sub01 .item a {
    display: block;
    margin: 0 0 24px 0;
}

.sub01 .item a img {
    border: 1px solid #ddd;
    border-radius: 20px;
}

.sub01 .item .itm_info {
    text-align: center;
}

.sub01 .item .itm_info strong {
    display: block;
    margin: 0 0 8px 0;
    font-weight: 500;
}

.sub01 .item .itm_info p {
    margin: 0 0 8px 0;
    font-size: 15px;
    line-height: 19px;
}

.sub01 .item .itm_info span {
    font-size: 15px;
}



/*  sns 슬라이드 */
.sub02 .title {
    text-align: center;
    margin: 0 0 24px 0;
}

.sub02 .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 24px 0;
    position: relative;
}

.sub02 .title p {
    font-size: 15px;
    line-height: 19px;
}

.sub02 .sns_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

}



/* 푸터 */
.footer {
    background: #f9f9f9;
}

.footer .inner {
    height: 400px;
    font-size: 14px;
    padding: 80px 0;
}

.footer .inner b {
    font-weight: 600;
}

.footer .ft_top {
    display: flex;
    justify-content: space-between;
}

.footer .ft_top .hours {
    margin: 0 0 48px 0;
}

.footer .ft_top .hours li {
    margin: 0 0 5px 0;
}

.footer .ft_top .hours .tel {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.footer .ft_top .sns {
    display: flex;
}

.footer .ft_top .sns i {
    font-size: 22px;
    padding: 6px;
}

.footer .ft_bottom {
    margin: 0 0 48px 0;
}

.footer .ft_bottom .company_info li {
    margin: 0 0 5px 0;
}