/* * {
    outline: 1px solid tomato;
} */

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto 28px auto;
    padding: 0 15px;
}

.sec .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.sec .title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
}

/* header */
.header {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid transparent;
    z-index: 999;
}

.header.on {
    border-bottom: 1px solid #ddd;
}

.header .header_wrap {
    display: flex;
    align-items: center;
    height: 100px;
    transition: 0.5s;
}

.header .header_wrap .h1 a {
    font-size: 0;
}

.header.on .header_wrap {
    height: 70px;
}

.header .gnb {
    margin: 0 0 0 auto;
}


.header .service {
    margin: 0 0 0 50px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

/* main slide */
.main_visual {
    position: relative;
    height: calc(100vh - 101px);
    overflow: hidden;
}

.main_visual .itm {
    position: relative;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 130%;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 4s;
}

.main_visual .itm .inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -900px;

    font-size: 100px;
    font-weight: 100;
    color: #fff;

    animation: fadein 5s infinite;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main_visual .itm .inner strong {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white
}

.main_visual .itm01 {
    background-image: url(../images/mainbg_01.jpg);
}

.main_visual .itm02 {
    background-image: url(../images/mainbg_02.jpg);
}

.main_visual .itm03 {
    background-image: url(../images/mainbg_03.jpg);
}

.main_visual .itm04 {
    background-image: url(../images/mainbg_04.jpg);
}

.main_visual .arrows {
    position: absolute;
    left: 50%;
    top: 50%;

    display: flex;
    gap: 30px;

    transform: translate(-100%, -50%);
    margin: 0 0 0 700px;
    padding: 0 15px;

    color: #fff;
    cursor: pointer;
}

.main_visual .arrows::before {
    content: "/";
    display: inline-block;

    margin: 0 -88px;
}

.main_visual .arrows .left:hover {
    color: #EEFF00;
}

.main_visual .arrows .right:hover {
    color: #EEFF00;
}

.main_visual .arrows::after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    width: 200px;
    height: 0.5px;
    background: #fff;
    display: inline-block;
}

.main_visual .scr {
    position: absolute;
    left: 50%;
    bottom: 100px;

    transform: translate(-100%, 0);
    margin: 0 0 0 700px;
    padding: 0 15px;

    color: #fff;
}

.main_visual .scr::before {
    content: "";
    position: absolute;

    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main_visual .scr span {
    position: absolute;
    top: 13px;
    left: 0;
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
    transform: translate(calc(-80% - 40px), 0);
    font-size: 16px;
    margin: auto 10px;
}

.main_visual .scr:hover {
    color: #EEFF00;
}

/* main section */
.main_portfolio {
    position: relative;
}

.main_portfolio .title h2,
.main_portfolio .title p {
    text-align: center;
}

.main_portfolio .content {
    max-width: 100%;
    padding: 0 0;
}

.main_portfolio .slick-dots {
    margin: 40px 0;
    text-align: center;
}

.main_portfolio .slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #333;
    margin: 0 10px;
}

.main_portfolio .slick-dots li.slick-active {
    background: #EEFF00;
}

.main_portfolio .slick-dots button {
    display: none;
}

.main_portfolio figure {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 40px;
    transition: 1s;
}

.main_portfolio figure img {
    width: 500px;
    filter: drop-shadow(10px 6px 6px #c3c3c3);
}

.main_portfolio figure:not(.slick-current) {
    filter: grayscale(1);
}

.main_portfolio .tab_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.main_portfolio .tab_arrows .left {
    position: absolute;
    left: 15px;
    width: 100px;
    height: 30px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;

}

.main_portfolio .tab_arrows .left::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    height: 2px;
    background: #333;
}

.main_portfolio .tab_arrows .left::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    width: 20px;
    height: 2px;
    background: #333;

    transform: rotate(-45deg);
    transform-origin: left bottom;
}


.main_portfolio .tab_arrows .right {
    position: absolute;
    right: 15px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;

}

.main_portfolio .tab_arrows .right::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    height: 2px;
    background: #333;
}

.main_portfolio .tab_arrows .right::after {
    content: "";
    position: absolute;
    top: 60%;
    right: 0;
    width: 20px;
    height: 2px;
    background: #333;
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.main_portfolio .itm a {
    margin: auto 0 0 0;
    align-self: flex-start;
}

.main_portfolio .itm.on {
    display: flex;
}

/* footer */
.footer {
    background: #050505;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer address {
    margin: 0 0 10px 0;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.footer .footer_customer {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 0;
    border-bottom: 1px solid #ddd;
}

.footer .footer_customer li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .footer_customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ccc;
    margin: 0 10px;
}

.footer .copy {
    padding: 10px 0 0 0;

    font-size: 15px;
    font-weight: 300;
}


.to_top {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.to_top i {
    background: #333;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=80);
}